html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container-carousel-item {
  position: relative;
  height: 400px;
}

.centered-element-carousel {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  img {
    max-height: 310px;
}
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 25%;
  transform: translateY(-25%);

  img {
    max-height: 310px;
}
}

